.vagrant/
.idea/

# Composer files
composer.phar
vendor/

# Local configs
config/autoload/*.local.php
config/development.config.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

#Doctrine 2
data/DoctrineORMModule/Proxy/
data/DoctrineORMModule/cache/



!data/cache/.gitkeep
.DS_Store
access.log
config/.DS_Store
data/.DS_Store
docker/.DS_Store
error.log
module/.DS_Store
public/.DS_Store
swapfile
vagrant/.DS_Store
